@model RegisterDto
 
    <center class="m-5"> <h1> Register </h1> </center>
   <form method="post" class="row g-3">
    <div class="col-md-6">
        <label for="FirstName" class="form-label">FirstName</label>
        <input asp-for="FirstName" class="form-control" type="text" name="FirstName" required>
        <span asp-validation-for="FirstName" class="text-danger" />
    </div>       
    <div class="col-md-6">
        <label for="LastName" class="form-label">LastName</label>
        <input type="LastName" class="form-control" type="text" asp-for="LastName" name="LastName" required>
        <span asp-validation-for="LastName" class="text-danger" />
        </div>
    <div class="col-md-6">
        <label for="Address" class="form-label">Address</label>
        <input type="Address" class="form-control" type="text" asp-for="Address" name="Address" required>
        <span asp-validation-for="Address" class="text-danger" />
        </div>
    <div class="col-md-6">
        <label for="PhoneNumber" class="form-label">PhoneNumber</label>
        <input type="PhoneNumber" class="form-control" type="text" asp-for="PhoneNumber" name="PhoneNumber" required>
        <span asp-validation-for="PhoneNumber" class="text-danger" />
        </div>
    <div class="col-md-6">
        <label>Email </label>
        <input type="Email" class="form-control" type="text" asp-for="Email" name="Email" required>
        <span asp-validation-for="Email" class="text-danger" />
     </div>
    <div class="col-md-6">
        <label>Password </label>
        <input type="password" class="form-control" type="text" asp-for="Password" name="password" required>
        <span asp-validation-for="Password" class="text-danger" />
        </div>
    <div class="col-12 col-md-6 0ffset-md-3 pb-2">
        <label>Role</label>
        <select asp-for="Role" class="form-select" asp-items="@ViewBag.RoleList">
            <option disabled selected>--Select Roles--</option>
        </select>
    </div>
    <div class="col-md-12">
        <button type="submit" value="Submit">Register</button>
        Already user? <span/> <a asp-action="Login"> Login </a>
    </div>   
    </form>
@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}

<style>
    button {
        background-color: #4CAF50;
        width: 100%;
        color: pink;
        padding: 15px;
        margin: 10px 0px;
        border: none;
        cursor: pointer;
    }

    input[type=text], input[type=password] {
        width: 100%;
        margin: 8px 0;
        padding: 12px 20px;
        display: inline-block;
        box-sizing: border-box;
    }

    button:hover {
        opacity: 0.7;
    }
</style> 