@model ProductDto

<div class="product-card">
    <div class="badge mr-2">
        <a href=""><i class="fa fa-shopping-cart"></i></a>
    </div>
    <div class="product-tumb">
        <img src="https://i.imgur.com/xdbHo4E.png" alt="">
    </div>
    <div class="product-details">
        <span class="product-catagory">@Model.CategoryName</span>
        <h4><a href="">@Model.Name</a></h4>
        <p>@Html.Raw(Model.Description)</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>$96.00</small>@string.Format("{0:c}", Model.Price)</div>
            <div class="product-links">
                <input asp-for="Count" class="form-control"/>
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="p-3"> <a asp-action="Index" type="return" class="btn btn-primary">Return</a></div>
</div>
